.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.front{
    border-left: none;
}

.grp{
    margin-right: -3px;
    margin-left: -3px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

p{
    margin: 20px;
}


.SchoolCard{
    opacity: 70%;
}
.SkillCard{
    opacity: 50%;
}
.SkillType{
    opacity: 60%;
    color: black;
}
.JobCard{
    opacity: 70%;
}

.card-caption{
    padding: 3%;
    background:dimgrey;
    color: white;
    opacity: 65%;

}

.schoolText{
    font-size: small;
}

.Projects{
    background-image: url("./LicDarkEdited.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.Home{
    background-image: url("./LicEdited.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.Experience{
    background-image: url("./LicRedEdited.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}



.full-card{
    object-fit:fill;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-image{
    border-bottom: gray 1px transparent;
}

.card-img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

.card-caption{
    object-fit: cover;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.carousel-control-next{
    z-index: 100;
}

.buttonClass{
    background-color:aliceblue;
}